@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');*{
  font-family: "Space Grotesk", sans-serif;
}
body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#root{
  margin-top: 0.8rem;
  width: 100%;
  height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* landing page */
a{
  text-decoration: none;
}
.big-text{
  color: transparent;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: 5px;
  font-weight: 900;
  margin-top: 5rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.big-text:hover{
  color: #ad4545;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: 5px;
  font-weight: 900;
  margin-top: 5rem;
  cursor: pointer;
}
.homeVideo{
  margin: 5px 6px;
  width: 99vw;
  height: 99vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
   /* transform: rotate(90deg); */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.831) 0px 18px 36px -18px inset;
}
/* landing page */

/* navbar */

.App {
  text-align: center;
  color: white;
  background-color: #090015;
  ;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
 }

 .logo{
  position: absolute;
  top: -1.4rem;
  left: 2rem;
  height: 7rem;
 }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem 4rem;
  height: 3.5rem;
  
 }

 .nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
 }

 .nav__list__web{
  display: flex;
 }

.nav__item{
  list-style-type: none;
  margin: 0 2.2rem;
}

.nav__link{
  text-decoration: none;
  font-weight: 500;
}

.active{
  color: green;
}

.inactive{
  color: white;
}

 .nav__toggle,
.nav__close {
 font-size: 1.5rem;
 cursor: pointer;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
 }
 
 .show-menu {
  right: 0;
 }

.yellow-button{
  padding: 8px 24px;
  border-radius: 11px;
  background-image: linear-gradient(45deg, #6534F4, #AD8CF2);
  text-transform: uppercase;
  letter-spacing: 2.5px;
} 

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 100%;
    height: 100%;
    transition: right 0.4s;
  }
}

 @media screen and (max-width: 300px) {
  .nav__menu {
  }

  .nav__list {
    row-gap: 1rem;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  transition: color 0.4s;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}
.nav__listt {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

.nav__menu_mobile {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(0, 0%, 6%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  transition: right 0.4s;
}
@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
/* navbar */
.transform{
  transform: translate(0, 4rem);
}
/* Home */
/* .homeContainer {
  position: relative;
  width: 100vw;
  height: 89vh;
  background-color: #080A28; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.homeContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/Plexus\ Background.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 60%; 
  mix-blend-mode: hard-light;
  z-index: 1; 
  border-radius: 25px;
}
.homeImageContainer{
  position: absolute;
  height: 87vh;
  left: -6rem;
}
.homeImage{
  height: 89vh;
}
.homeContent {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid yellow; 
  width: 90%;
}

.homeGradient{
  z-index: -2;
  position: absolute;
  opacity: 50%;
  mix-blend-mode: color-dodge;
  top: -8rem;
  left: -5rem;
  height: 54rem;
  width: 50rem;
}

.homeContentText{
  height: 26rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: calc(49%) ;
}

.homeContent h1{
  text-align: left;
  font-size: 2.2rem;
  line-height: 3rem;
  margin-bottom: -15px;
}
.homeContentText span{
  background: -webkit-linear-gradient(45deg, #6534F4, #AD8CF2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homeButtons{
  display: flex;
    justify-content: space-between;
    width: 54%;
} */

.homeContainer{
  background-color: #090015;
  height: 100vh;
  width: 100vw;
}
.homeContentContainer{
  height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.homeImageContainer{
  position: absolute;
  left: 47.3rem;
  top: 5rem;
}

.homeImage{
  height: 90vh;
  position: absolute;
  z-index: 2;

}
.homeGradient{
  position: absolute;
  z-index: -1;
  height: 83vh;
  width: 90.5vh;
  opacity: 31%;

}

.companiesContainer{
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.companyContainer{
  margin: 0 2rem;
}

.textContent{
    height: 26rem;
    width: 45rem;
  text-align: left;
  margin: 4rem 0 0 10rem;
}
.textContent>h1{
  font-size: 3rem;
  font-weight: 700;
}
.homeButtons{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.homeListContainer{
  
}
/* Home */

/* List */
.list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list img{
  margin-right: 1rem;
}

.list p{
  margin: 0.6rem;
}
/* List */

/* Button */
.button{
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  border-radius: 10px;
  height: fit-content;
  padding: 0.7rem 1.5rem;
}
.gradient{
  background-image: linear-gradient(45deg, #6534F4, #AD8CF2);
  color: white;
}

.solid{
  background-color: #cfc0ef;
  color: black;
}
/* Button */

/* Features */

.featuresContent :nth-child(4), .featuresContent :nth-child(8){
  display: none;
}
.features-centre-icon-container{
  transform:translate(-2.5rem, 22rem);
  background-color: #6534F4;
}

/* Features */

/* Feature */
.feature{
  border: 1px solid white;
}
/* Feature */


/* Learn */
.learn{
  padding: 0rem 4rem;
  background: white;
}
.learnContent{
  /* height: 100%; */

}
.learnGradient{
  z-index: -2;
  position: absolute;
  opacity: 50%;
  mix-blend-mode: color-dodge;
  top: -8rem;
  left: -5rem;
  height: 200vh;
  width: 100vw;
}
.learnCard{
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 43%;
  background-color: #EEEEEE;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.evenCircle{
  background-color: #9579e9;
  ;
}
.evenStroke{
  border-left: 6px solid #9579e9;
  ;
  border-radius: 50% 0% 0% 50%;
}
.oddCircle{
  background-color: #cec0ec;
}
.oddStroke{
  border-right: 6px solid #cec0ec;
  border-radius: 0% 50% 50% 0%;
}
.evenCard{
  margin-left: calc(54.5%); 
}
.countCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 4rem;
  height: 4rem;
  margin: 0 0 5rem 0;
  border-radius: 50%;
  font-size: 28px;
}
.countCirclesContainer{
  position: absolute;
  z-index: 4;
  top: calc(11.5%);
  left: calc(47.6%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 0;
  align-items: center;
}
.circleWrapper{
  z-index: 3;
  background-color: transparent;
  position: absolute;
  height: 9rem;
  width: 9rem;
}

/* Learn */

/* Roadmap */
.roadmap{
  width: 100vw;
  background-color: #090015;
}
/* Roadmap */

/* Instructors */
.instructorsContainer{
  display: flex;
  justify-content: space-around;
}

.instructorsLogoContainer{
  display: flex;
    flex-direction: row;
    height: 6rem;
    justify-content: center;
    align-items: center;
}
/* Instructors */

/* FAQ */
.faqContainer{
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 10rem 0 0 0;
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.question {
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.answer.open {
  max-height: 200px; /* Adjust this based on the content size */
  opacity: 1;
}

/* FAQ */